* {
    margin: 0;
    font-family: 'Roboto';
    color: @text-base-secondy;
}

@import '../libs/fontawesome/css/all.css';

@import './variables.less';
@import './mixes.less';
@import './custom/_navbar-top.less';
@import './custom/_navbar-left.less';

// pages
@import './pages/_banner.less';
@import './pages/_projects.less';
